<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Welcome Admin</title>bootstrap thymeleaf модальное окно не работает

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <style type="text/css">

        .form-table {
            padding-left: 50px;
            padding-right: 50px;
            margin: 0 auto;
        }

        .page-header {
            margin: auto;
        }

        .container-fluid {
            padding-right: 0px;
            padding-left: 0px;
            margin-right: auto;
            margin-left: auto;
        }

    </style>
</head>

<body>
    <div class="input-group" style="background: black">
        <h3 style="color: darkgray">My project</h3>
        <span class="input-group-btn">
            <form action="/logout" method="get" >
                <button class="btn" style="background: black; color: darkgray">Log out</button>
            </form>
        </span>
    </div>

    <div class="container-fluid" >
        <div class="row-fluid flex">
            <div class="col-sm-2 col-md-2 sidebar">
                <ul class="nav nav-siderbar">
                    <br>
                    <a href="/admin/all">admin</a><br>
                    <a href="/admin/all">user</a>
                </ul>
            </div>
            <div class="col-sm-10 col-md-10 main" style="background: rgba(187,186,195,0.47); min-height: 700px">
                <form class="form-table" action="/admin/all" method="get">
                    <h2>Admin panel</h2>
                    <h3>All users in database:</h3>

                    <table class="table table-striped table-hover">
                        <thread>
                            <tr>
                                <th>Id</th>
                                <th>First name</th>
                                <th>Second name</th>
                                <th>Login</th>
                                <th>Password</th>
                                <th>Phone number</th>
                                <th>Role</th>
                                <th>Remove</th>
                                <th>Edit</th>
                            </tr>
                        </thread>
                        <tbody>
                            <th:block th:each="user:${listUser}">
                                <tr>
                                    <td th:utext="${user.id}">id</td>
                                    <td th:utext="${user.firstName}">first name</td>
                                    <td th:utext="${user.lastName}">last name</td>
                                    <td th:utext="${user.login}">login</td>
                                    <td th:utext="${user.password}">password</td>
                                    <td th:utext="${user.phoneNumber}">phone number</td>
                                    <td th:utext="${user.role.name}">role</td>

                                    <td>
                                        <!--Hidden button need for deleting 1 row in the table. First button don't working((-->
                                        <form action="/admin/delete" method="get">
                                            <button hidden></button>
                                        </form>

                                        <form action="/admin/delete" method="get">
                                            <button class="btn btn-danger btn-xs" type="submit" name="id" th:value="${user.id}">del</button>
                                        </form>
                                    </td>

                                    <td>
                                        <form action="/admin/edit" method="get">
                                            <button class="btn btn-primary btn-xs" type="submit" name="id" th:value="${user.id}">edit old</button>
                                        </form>
                                        <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#editUser" th:attr="data-target='#editUser' + ${user}">edit new</button>
                                        <div class="modal fade" th:id="'editUser' + ${user}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button class="close" data-dismiss="modal">x</button>
                                                        <h2 class="modal-title">Add user:</h2>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="/admin/edit" method="post">
                                                            <p>Id: <input type="text" name="id" th:value="${user.id}"></p>
                                                            <p>First name: <input type="text" name="firstName" th:value="${user.firstName}"></p>
                                                            <p>Last name: <input type="text" name="lastName" th:value="${user.lastName}"></p>
                                                            <p>Phone number: <input type="text" name="phoneNumber" th:value="${user.phoneNumber}"></p>
                                                            <p>Role: <select name = "role">
                                                                <option value="admin">admin</option>>
                                                                <option value="user">user</option>>
                                                            </select>
                                                            </p>
                                                            <p>Login: <input type="text" name="login" th:value="${user.login}"></p>
                                                            <p>Password: <input type="password" name="password"></p>
                                                            <input type="submit" value="Submit">
                                                        </form>

                                                        <form action="/logout" method="get">
                                                            <input type="submit" value="Log out">
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-primary btn-xs" data-dismiss="modal">Close</button>
                                                        <button class="btn btn-primary btn-xs">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Example-->

                                        <a data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${user.id}"><span class="glyphicon glyphicon-trash"></span></a>
                                        <div class="modal modal-warning fade in" th:id="modal-warning + ${user.id}" >
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span></button>
                                                        <h4 class="modal-title">Edit user</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="/admin/edit" method="post">
                                                            <p>Id: <input type="text" name="id" th:value="${user.id}"></p>
                                                            <p>First name: <input type="text" name="firstName" th:value="${user.firstName}"></p>
                                                            <p>Last name: <input type="text" name="lastName" th:value="${user.lastName}"></p>
                                                            <p>Phone number: <input type="text" name="phoneNumber" th:value="${user.phoneNumber}"></p>
                                                            <p>Role: <select name = "role">
                                                                <option value="admin">admin</option>>
                                                                <option value="user">user</option>>
                                                            </select>
                                                            </p>
                                                            <p>Login: <input type="text" name="login" th:value="${user.login}"></p>
                                                            <p>Password: <input type="password" name="password"></p>

                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-outline">Change</button>
                                                            </div>
                                                        </form>
                                                    </div>
<!--                                                    <div class="modal-footer">-->
<!--                                                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>-->
<!--                                                        <button type="submit" class="btn btn-outline">Change</button>-->
<!--                                                        &lt;!&ndash;                                                        <a type="button" class="btn btn-outline" th:href="@{/user/delete/{id}(id=${user.id})}"><i class="fa fa-check"></i>&nbsp;Yes</a>&ndash;&gt;-->
<!--                                                    </div>-->
                                                </div>
                                            </div>
                                        </div>


<!--                                        <a data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${user.id }"><span class="glyphicon glyphicon-trash"></span></a>-->
<!--                                        <div class="modal modal-warning fade in" th:id="modal-warning+${user.id }" >-->
<!--                                            <div class="modal-dialog">-->
<!--                                                <div class="modal-content">-->
<!--                                                    <div class="modal-header">-->
<!--                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                                                            <span aria-hidden="true">×</span></button>-->
<!--                                                        <h5 class="modal-title">Delete User</h5>-->
<!--                                                    </div>-->
<!--                                                    <div class="modal-body">-->
<!--                                                        <h3>Are you sure want to delete this user?</h3>-->
<!--                                                    </div>-->
<!--                                                    <div class="modal-footer">-->
<!--                                                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>-->
<!--                                                        <a type="button" class="btn btn-outline" th:href="@{/user/delete/{id}(id=${user.id})}"><i class="fa fa-check"></i>&nbsp;Yes</a>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->


                                    </td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

<!--<form action="/admin/add" method="post">-->
<!--    First name:-->
<!--    <input type="text" name="firstName">-->
<!--    Last name:-->
<!--    <input type="text" name="lastName">-->
<!--    Phone number-->
<!--    <input type="text" name="phoneNumber">-->
<!--    Role-->
<!--    <select name="role">-->
<!--        <option value="admin">admin</option>>-->
<!--        <option value="user">user</option>>-->
<!--    </select>-->
<!--    Login-->
<!--    <input type="text" name="login">-->
<!--    Password-->
<!--    <input type="password" name="password">-->
<!--    <input type="submit" value="Submit">-->
<!--</form>-->