<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to your app piece of meat!</title>
</head>
    <body>
        <p>Please log in:<br>
            <form action="/authorization" method="post">
                <p>Login:<br>
                    <input type="text" name="username">
                </p>
                <p>Password:<br>
                    <input type="password" name="password">
                </p>
                <input type="submit" value="Log in">
            </form>
    </body>
</html>